:root {
	--blue: #2684FE;
}
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #151D30;
}
img {
	max-width: 100%;
	height: auto;
}
.wrap {
	display: flex;
	flex-wrap: nowrap;
	min-height: 100vh;
}
.sidebar {
	flex: 0 0 300px;
	max-width: 300px;
	background-color: var(--blue);
	padding: 35px 15px;
}
.sidebar-logo {
	max-width: 239px;
	margin-bottom: 30px;
	margin-left: 15px;
}
.sidebar-nav-item {
	padding: 20px 25px;
	border-radius: 10px;
}
.sidebar-nav-item.active {
	background-color: #136CDE;
}
.sidebar-nav-item img {
	opacity: .35;
	max-width: 36px;
	vertical-align: middle;
	margin-right: 21px;
}
.sidebar-nav-item.active img {
	opacity: 1;
}
.sidebar-nav-item a {
	text-decoration: none;
	color: #fff;
	display: block;
}
.contents {
	flex: 0 0 calc(100% - 300px);
	max-width: calc(100% - 300px);
}
.top-bar {
	padding: 30px 35px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.top-nav {
	font-size: 25px;
	font-weight: 600;
}
.top-nav img {
	margin-right: 10px;
	vertical-align: middle;
}
.top-meta {
	float: right;
	cursor: pointer;
}
.top-meta img {
	width: 42px;
	height: 42px;
	margin-right: 20px;
	vertical-align: middle;
}
.top-meta span {
	width: 0;
	height: 0;
	display: inline-block;
	border-style: solid;
	border-width: 7px 6.5px 0 6.5px;
	border-color: #151d30 transparent transparent transparent;
	margin-left: 8px;
	vertical-align: middle;
}
.inner-wrap {
	padding: 40px;
}
.inner-filters {
	display: flex;
	flex-wrap: nowrap;
	margin-left: -7px;
	margin-right: -7px;
}
.inner-filter {
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	flex: 1 0 0%;
	padding-left: 7px;
	padding-right: 7px;
}
.filter-dropdown {
	border: 1px solid #C8D3E2;
	border-radius: 10px;
	position: relative;
	background-color: #fff;
}
.filter-dropdown-inner {
	padding: 18px 35px 18px 20px;
	cursor: pointer;
}
.filter-dropdown-inner span {
	width: 0;
	height: 0;
	display: block;
	border-style: solid;
	border-width: 7px 6.5px 0 6.5px;
	border-color: #151d30 transparent transparent transparent;
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translate(0, -50%);
}
.dropdown-body {
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	width: 100%;
	transform: translate(0, 100%);
	border: 1px solid #C8D3E2;
	border-radius: 10px;
	padding: 18px 10px 18px 20px;
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	display: none;
}
.dropdown-body ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.dropdown-body li {
	margin: 10px 0;
	cursor: pointer;
}
.dropdown-body.checkboxes li {
	padding-left: 32px;
	position: relative;
}
.checkboxes li span {
	background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.8491 5.66296V19.663H5.84912V5.66296H19.8491ZM19.8491 3.66296H5.84912C4.74912 3.66296 3.84912 4.56296 3.84912 5.66296V19.663C3.84912 20.763 4.74912 21.663 5.84912 21.663H19.8491C20.9491 21.663 21.8491 20.763 21.8491 19.663V5.66296C21.8491 4.56296 20.9491 3.66296 19.8491 3.66296Z' fill='%23C8D3E2'/%3E%3C/svg%3E");
	width: 24px;
	height: 24px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	position: absolute;
	top: 1px;
	left: 0;
}
.checkboxes li.selected span {
	background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.8491 3.65771H5.84912C4.74912 3.65771 3.84912 4.55771 3.84912 5.65771V19.6577C3.84912 20.7577 4.74912 21.6577 5.84912 21.6577H19.8491C20.9491 21.6577 21.8491 20.7577 21.8491 19.6577V5.65771C21.8491 4.55771 20.9491 3.65771 19.8491 3.65771ZM19.8491 19.6577H5.84912V5.65771H19.8491V19.6577ZM18.8391 9.65771L17.4291 8.23771L10.8391 14.8277L8.25912 12.2577L6.83912 13.6677L10.8391 17.6577L18.8391 9.65771Z' fill='%232684FE'/%3E%3C/svg%3E");
}
.inner-checkbox {
	padding: 18px 10px;
	cursor: pointer;
	min-width: 270px;
}
.inner-checkbox span {
	background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.8491 5.66296V19.663H5.84912V5.66296H19.8491ZM19.8491 3.66296H5.84912C4.74912 3.66296 3.84912 4.56296 3.84912 5.66296V19.663C3.84912 20.763 4.74912 21.663 5.84912 21.663H19.8491C20.9491 21.663 21.8491 20.763 21.8491 19.663V5.66296C21.8491 4.56296 20.9491 3.66296 19.8491 3.66296Z' fill='%23C8D3E2'/%3E%3C/svg%3E");
	width: 24px;
	height: 24px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	vertical-align: sub;
	margin-right: 8px;
}
.inner-checkbox.checked span {
	background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.8491 3.65771H5.84912C4.74912 3.65771 3.84912 4.55771 3.84912 5.65771V19.6577C3.84912 20.7577 4.74912 21.6577 5.84912 21.6577H19.8491C20.9491 21.6577 21.8491 20.7577 21.8491 19.6577V5.65771C21.8491 4.55771 20.9491 3.65771 19.8491 3.65771ZM19.8491 19.6577H5.84912V5.65771H19.8491V19.6577ZM18.8391 9.65771L17.4291 8.23771L10.8391 14.8277L8.25912 12.2577L6.83912 13.6677L10.8391 17.6577L18.8391 9.65771Z' fill='%232684FE'/%3E%3C/svg%3E");
}
.section-title {
	font-size: 23px;
	font-weight: 600;
	margin-top: 40px;
	margin-bottom: 15px;
}
.inner-table-wrap {
	border: 1px solid #C8D3E2;
	border-radius: 10px;
}
.inner-table-wrap table {
	width: 100%;
	border-collapse: collapse;
}
.inner-table-wrap th {
	font-weight: 600;
	font-size: 18px;
	padding: 20px 5px 20px 15px;
	cursor: pointer;
	position: relative;
}
.inner-table-wrap th div {
	display: inline-block;
	position: relative;
	padding-right: 20px;
}
.inner-table-wrap th span {
	display: inline-block;
	margin-left: 7px;
	width: 12px;
	height: 16px;
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.42309 14.891L1.95787 11.3286C1.34131 10.6948 1.79043 9.63135 2.67468 9.63135H9.57272C10.4547 9.63135 10.9048 10.6901 10.2928 11.3252L6.85998 14.8876C6.46796 15.2944 5.81701 15.2959 5.42309 14.891Z' fill='%23C8D3E2'/%3E%3Cpath d='M6.80885 1.0685L10.2741 4.63086C10.8906 5.2647 10.4415 6.32812 9.55725 6.32812L2.65921 6.32812C1.77721 6.32812 1.32712 5.26934 1.93914 4.63423L5.37195 1.07187C5.76397 0.66506 6.41492 0.663533 6.80885 1.0685Z' fill='%23C8D3E2'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	vertical-align: middle;
	position: absolute;
	top: calc(50% - 8px);
	right: 0;
}
.inner-table-wrap th.asc span {
	background-image: url("data:image/svg+xml,%3Csvg width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.54711 14.891L2.08189 11.3286C1.46533 10.6948 1.91445 9.63135 2.79871 9.63135H9.69674C10.5787 9.63135 11.0288 10.6901 10.4168 11.3252L6.984 14.8876C6.59198 15.2944 5.94104 15.2959 5.54711 14.891Z' fill='%23C8D3E2'/%3E%3Cpath d='M6.93287 1.0685L10.3981 4.63086C11.0146 5.2647 10.5655 6.32812 9.68127 6.32812L2.78324 6.32812C1.90123 6.32812 1.45114 5.26934 2.06316 4.63423L5.49598 1.07187C5.888 0.66506 6.53894 0.663533 6.93287 1.0685Z' fill='%232684FE'/%3E%3C/svg%3E%0A");
}
.inner-table-wrap th.desc span {
	transform: rotate(180deg);
	background-image: url("data:image/svg+xml,%3Csvg width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.54711 14.891L2.08189 11.3286C1.46533 10.6948 1.91445 9.63135 2.79871 9.63135H9.69674C10.5787 9.63135 11.0288 10.6901 10.4168 11.3252L6.984 14.8876C6.59198 15.2944 5.94104 15.2959 5.54711 14.891Z' fill='%23C8D3E2'/%3E%3Cpath d='M6.93287 1.0685L10.3981 4.63086C11.0146 5.2647 10.5655 6.32812 9.68127 6.32812L2.78324 6.32812C1.90123 6.32812 1.45114 5.26934 2.06316 4.63423L5.49598 1.07187C5.888 0.66506 6.53894 0.663533 6.93287 1.0685Z' fill='%232684FE'/%3E%3C/svg%3E%0A");
}
.inner-table-wrap td {
	padding: 10px 5px 10px 15px;
}
.inner-table-wrap tbody td {
	border-top: 1px solid #C8D3E2;
	text-align: center;
}
.inner-table-wrap th.left,
.inner-table-wrap td.left {
	text-align: left;
}
.inner-table-wrap .avatar {
	max-height: 42px;
	width: auto;
	vertical-align: middle;
	margin-right: 10px;
}
.rating-inner {
	display: inline-block;
	margin-right: 8px;
	vertical-align: middle;
	position: relative;
	min-width: 115px;
}
.rating-placeholder {
	font-size: 0;
}
.rating-placeholder span {
	background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M9.86947 1.43096L11.8996 5.5446C12.0408 5.83071 12.3138 6.02896 12.6295 6.07476L17.1693 6.73446C17.9646 6.85011 18.2819 7.82708 17.7066 8.38765L14.4217 11.5897C14.1934 11.8123 14.089 12.1333 14.1431 12.4476L14.9184 16.969C15.0543 17.7609 14.223 18.3646 13.5119 17.991L9.45157 15.8565C9.16922 15.7082 8.83167 15.7082 8.54932 15.8565L4.489 17.991C3.77786 18.365 2.94657 17.7609 3.08249 16.969L3.85783 12.4476C3.9119 12.1333 3.80752 11.8123 3.57923 11.5897L0.294252 8.38765C-0.280967 7.8267 0.0363045 6.84973 0.831549 6.73446L5.37135 6.07476C5.68712 6.02896 5.96008 5.83071 6.10126 5.5446L8.13142 1.43096C8.48662 0.710433 9.5139 0.710433 9.86947 1.43096Z' fill='%23E0E6E9'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='18' height='18' fill='white' transform='translate(0.000244141 0.497559)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 18px;
	height: 18px;
	margin: 0 2.5px;
	display: inline-block;
}
.rating-stars {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	font-size: 0;
	text-align: left;
}
.rating-stars > span {
	width: 18px;
	height: 18px;
	margin: 0 2.5px;
	display: inline-block;
}
.rating-stars > span > span {
	height: 100%;
	display: block;
	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: left center;
	background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M9.86947 1.43096L11.8996 5.5446C12.0408 5.83071 12.3138 6.02896 12.6295 6.07476L17.1693 6.73446C17.9646 6.85011 18.2819 7.82708 17.7066 8.38765L14.4217 11.5897C14.1934 11.8123 14.089 12.1333 14.1431 12.4476L14.9184 16.969C15.0543 17.7609 14.223 18.3646 13.5119 17.991L9.45157 15.8565C9.16922 15.7082 8.83167 15.7082 8.54932 15.8565L4.489 17.991C3.77786 18.365 2.94657 17.7609 3.08249 16.969L3.85783 12.4476C3.9119 12.1333 3.80752 11.8123 3.57923 11.5897L0.294252 8.38765C-0.280967 7.8267 0.0363045 6.84973 0.831549 6.73446L5.37135 6.07476C5.68712 6.02896 5.96008 5.83071 6.10126 5.5446L8.13142 1.43096C8.48662 0.710433 9.5139 0.710433 9.86947 1.43096Z' fill='%23F8CF40'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='18' height='18' fill='white' transform='translate(0.000244141 0.497559)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.dashboard-stats {
	display: flex;
	flex-wrap: nowrap;
}
.dashboard-stats .score {
	width: 35%;
	flex: 0 0 25%;
	padding-right: 15px;
}
.dashboard-stats .reviews {
	width: 17%;
	flex: 0 0 17%;
}
.dashboard-stats .referrals {
	width: 18%;
	flex: 0 0 18%;
	padding-left: 15px;
}
.dashboard-stats .nps {
	width: 30%;
	flex: 0 0 30%;
	padding-left: 15px;
}
.dashboard-stats .box {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}
.dashboard-stats .score .box {
	padding: 30px;
	display: flex;
	flex-wrap: nowrap;
	height: 100%;
}
.dashboard-stats .score .box > :first-child {
	padding-top: 30px;
	text-align: center;
}
.dashboard-stats .score .col {
	width: 50%;
	flex: 0 0 50%;
}
.dashboard-stats .score .rating {
	font-size: 40px;
	font-weight: 600;
}
.dashboard-stats .score .rating-inner {
	min-width: 145px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
.dashboard-stats .score .rating-placeholder span,
.dashboard-stats .score .rating-stars > span {
	width: 24px;
	height: 24px;
}
.dashboard-stats .score .rating-stars > span > span {
	background-size: 24px 24px;
}
.dashboard-stats .reviews .box {
	position: relative;
	padding: 20px 15px 15px 65px;
}
.dashboard-stats .reviews > :first-child {
	margin-bottom: 15px;
}
.dashboard-stats .reviews > :first-child:before {
	display: block;
	content: '';
	width: 36px;
	height: 36px;
	position: absolute;
	left: 15px;
	top: 20px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url("data:image/svg+xml,%3Csvg width='37' height='37' viewBox='0 0 37 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.2683 3.85696H6.26831C4.61831 3.85696 3.26831 5.20696 3.26831 6.85696V33.857L9.26831 27.857H30.2683C31.9183 27.857 33.2683 26.507 33.2683 24.857V6.85696C33.2683 5.20696 31.9183 3.85696 30.2683 3.85696ZM30.2683 24.857H8.02331L6.26831 26.612V6.85696H30.2683V24.857Z' fill='%23F8CF40'/%3E%3Cpath d='M18.2683 23.357L20.6233 18.212L25.7683 15.857L20.6233 13.502L18.2683 8.35696L15.9133 13.502L10.7683 15.857L15.9133 18.212L18.2683 23.357Z' fill='%23F8CF40'/%3E%3C/svg%3E%0A");
}
.dashboard-stats .reviews > :last-child:before {
	display: block;
	content: '';
	width: 36px;
	height: 36px;
	position: absolute;
	left: 15px;
	top: 20px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url("data:image/svg+xml,%3Csvg width='37' height='37' viewBox='0 0 37 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.6548 3.86963H6.65479C5.00479 3.86963 3.66979 5.21963 3.66979 6.86963L3.65479 33.8696L9.65479 27.8696H30.6548C32.3048 27.8696 33.6548 26.5196 33.6548 24.8696V6.86963C33.6548 5.21963 32.3048 3.86963 30.6548 3.86963ZM30.6548 24.8696H8.40979L7.52479 25.7546L6.65479 26.6246V6.86963H30.6548V24.8696ZM16.4048 21.8696H27.6548V18.8696H19.4048L16.4048 21.8696ZM22.1948 13.0646C22.4948 12.7646 22.4948 12.2996 22.1948 11.9996L19.5398 9.34463C19.2398 9.04463 18.7748 9.04463 18.4748 9.34463L9.65479 18.1646V21.8696H13.3598L22.1948 13.0646Z' fill='%23F52B74'/%3E%3C/svg%3E%0A");
}
.dashboard-stats .reviews span {
	font-weight: 600;
	font-size: 30px;
}
.pagination {
	margin-top: 30px;
	display: flex;
	flex-wrap: nowrap;
}
.pagination > :first-child {
	max-width: 30%;
	flex: 0 0 30%;
}
.pagination > :last-child {
	max-width: 70%;
	flex: 0 0 70%;
	text-align: right;
}
.pagination a {
	color: #151D30;
	margin: 0 12px;
	text-decoration: none;
}
.pagination .prev,
.pagination .next {
	color: #2684FE;
}
.pagination .prev:before,
.pagination .next:after {
	background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.125 20.1954L13.535 18.7854L7.955 13.1954L20.125 13.1954L20.125 11.1954L7.955 11.1954L13.535 5.60543L12.125 4.19543L4.125 12.1954L12.125 20.1954Z' fill='%232684FE'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
	content: '';
}
.pagination .next {
	margin-right: 0;
}
.pagination .next:after {
	transform: rotate(180deg);
}
.pagination .active {
	background: #2684FE;
	border-radius: 10px;
	padding: 0 15px;
	margin: 0;
	height: 35px;
	display: inline-block;
	color: #fff;
	vertical-align: middle;
	text-align: center;
	line-height: 35px;
}
.inner-table-wrap tbody tr {
	transition: background .2s, color .2s;
}
.reviews-template .inner-table-wrap tbody tr:hover,
.referrals-template .inner-table-wrap tbody tr:hover {
	background: #2684FE;
	cursor: pointer;
	color: #fff;
}
.reviews-template .inner-table-wrap td {
	font-size: 16px;
}
.blue-checkmark {
	display: inline-block;
	background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.38132 16.2416L5.21132 12.0716L3.79132 13.4816L9.38132 19.0716L21.3813 7.07159L19.9713 5.66159L9.38132 16.2416Z' fill='%232684FE'/%3E%3C/svg%3E%0A");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}
.social-share-icon {
	display: inline-block;
	background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.5591 16.6153C17.7991 16.6153 17.1191 16.9153 16.5991 17.3853L9.46908 13.2353C9.51908 13.0053 9.55908 12.7753 9.55908 12.5353C9.55908 12.2953 9.51908 12.0653 9.46908 11.8353L16.5191 7.72528C17.0591 8.22528 17.7691 8.53528 18.5591 8.53528C20.2191 8.53528 21.5591 7.19528 21.5591 5.53528C21.5591 3.87528 20.2191 2.53528 18.5591 2.53528C16.8991 2.53528 15.5591 3.87528 15.5591 5.53528C15.5591 5.77528 15.5991 6.00528 15.6491 6.23528L8.59908 10.3453C8.05908 9.84528 7.34908 9.53528 6.55908 9.53528C4.89908 9.53528 3.55908 10.8753 3.55908 12.5353C3.55908 14.1953 4.89908 15.5353 6.55908 15.5353C7.34908 15.5353 8.05908 15.2253 8.59908 14.7253L15.7191 18.8853C15.6691 19.0953 15.6391 19.3153 15.6391 19.5353C15.6391 21.1453 16.9491 22.4553 18.5591 22.4553C20.1691 22.4553 21.4791 21.1453 21.4791 19.5353C21.4791 17.9253 20.1691 16.6153 18.5591 16.6153Z' fill='%23F52B74'/%3E%3C/svg%3E%0A");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}
.reviews-template .inner-table-wrap tbody tr:hover .blue-checkmark {
	background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.38132 16.2416L5.21132 12.0716L3.79132 13.4816L9.38132 19.0716L21.3813 7.07159L19.9713 5.66159L9.38132 16.2416Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A");
}
.reviews-template .inner-table-wrap tbody tr:hover .social-share-icon {
	background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.5591 16.6153C17.7991 16.6153 17.1191 16.9153 16.5991 17.3853L9.46908 13.2353C9.51908 13.0053 9.55908 12.7753 9.55908 12.5353C9.55908 12.2953 9.51908 12.0653 9.46908 11.8353L16.5191 7.72528C17.0591 8.22528 17.7691 8.53528 18.5591 8.53528C20.2191 8.53528 21.5591 7.19528 21.5591 5.53528C21.5591 3.87528 20.2191 2.53528 18.5591 2.53528C16.8991 2.53528 15.5591 3.87528 15.5591 5.53528C15.5591 5.77528 15.5991 6.00528 15.6491 6.23528L8.59908 10.3453C8.05908 9.84528 7.34908 9.53528 6.55908 9.53528C4.89908 9.53528 3.55908 10.8753 3.55908 12.5353C3.55908 14.1953 4.89908 15.5353 6.55908 15.5353C7.34908 15.5353 8.05908 15.2253 8.59908 14.7253L15.7191 18.8853C15.6691 19.0953 15.6391 19.3153 15.6391 19.5353C15.6391 21.1453 16.9491 22.4553 18.5591 22.4553C20.1691 22.4553 21.4791 21.1453 21.4791 19.5353C21.4791 17.9253 20.1691 16.6153 18.5591 16.6153Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A");
}
.space-35 {
	height: 35px;
}
.table-search {
	border-bottom: 1px solid #C8D3E2;
	font-size: 0;
	padding: 10px 15px;
	position: relative;
}
.table-search input {
	border: 1px solid #2684FE;
	border-radius: 10px 0 0 10px;
	height: 55px;
	padding: 0 22px;
	line-height: 53px;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #9BA4AF;
	display: inline-block;
	margin: 0;
	min-width: 500px;
	outline: none;
	vertical-align: middle;
}
.table-search-btn {
	background-color: #2684FE;
	background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5049 14.3203H14.7149L14.4349 14.0503C15.4149 12.9103 16.0049 11.4303 16.0049 9.82025C16.0049 6.23025 13.0949 3.32025 9.50488 3.32025C5.91488 3.32025 3.00488 6.23025 3.00488 9.82025C3.00488 13.4103 5.91488 16.3203 9.50488 16.3203C11.1149 16.3203 12.5949 15.7303 13.7349 14.7503L14.0049 15.0303V15.8203L19.0049 20.8103L20.4949 19.3203L15.5049 14.3203ZM9.50488 14.3203C7.01488 14.3203 5.00488 12.3103 5.00488 9.82025C5.00488 7.33025 7.01488 5.32025 9.50488 5.32025C11.9949 5.32025 14.0049 7.33025 14.0049 9.82025C14.0049 12.3103 11.9949 14.3203 9.50488 14.3203Z' fill='white'/%3E%3C/svg%3E%0A");
	background-position: center;
	background-size: 24px;
	background-repeat: no-repeat;
	height: 55px;
	width: 55px;
	display: inline-block;
	cursor: pointer;
	border-radius: 0 10px 10px 0;
	vertical-align: middle;
}
.table-export {
	padding: 0 20px 0 54px;
	background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.5747 9.57999H15.5747V3.57999H9.57471V9.57999H5.57471L12.5747 16.58L19.5747 9.57999ZM5.57471 18.58V20.58H19.5747V18.58H5.57471Z' fill='white'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: 24px;
	background-position: 20px center;
	background-color: #2684FE;
	color: #fff;
	font-size: 18px;
	line-height: 55px;
	position: absolute;
	top: 10px;
	right: 15px;
	border-radius: 10px;
	cursor: pointer;
	display: inline-block;
}
.list-upload-template .inner-table-wrap td {
	font-size: 16px;
}
.inner-table-wrap.onload th {
	color: #C8D3E2;
}
.list-csv-template {
	text-decoration: none;
	display: inline-block;
	font-weight: 500;
	font-size: 18px;
	color: #2684FE;
	line-height: 55px;
}
.list-buttons {
	position: absolute;
	top: 10px;
	right: 15px;
	display: inline-block;
}
.clear-list,
.select-list,
.upload-list {
	padding: 0 20px 0 54px;
	background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.5747 9.57999H15.5747V3.57999H9.57471V9.57999H5.57471L12.5747 16.58L19.5747 9.57999ZM5.57471 18.58V20.58H19.5747V18.58H5.57471Z' fill='white'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: 24px;
	background-position: 20px center;
	background-color: #2684FE;
	color: #fff;
	font-size: 18px;
	line-height: 55px;
	border-radius: 10px;
	cursor: pointer;
	display: inline-block;
	margin-left: 10px;
}
.clear-list {
	background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.1174 6.88961L17.7074 5.47961L12.1174 11.0696L6.52743 5.47961L5.11743 6.88961L10.7074 12.4796L5.11743 18.0696L6.52743 19.4796L12.1174 13.8896L17.7074 19.4796L19.1174 18.0696L13.5274 12.4796L19.1174 6.88961Z' fill='white'/%3E%3C/svg%3E%0A");
}
.select-list {
	background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.6299 14.6146L7.65075 3.63545C7.55087 3.53486 7.417 3.47961 7.27533 3.47961C6.98208 3.47961 6.74408 3.71761 6.74408 4.01086V19.9484C6.74408 20.2416 6.98208 20.4796 7.27533 20.4796C7.41912 20.4796 7.55866 20.4201 7.65783 20.3174L12.2825 15.5213H18.2545C18.5477 15.5213 18.7857 15.2833 18.7857 14.99C18.7857 14.8484 18.7305 14.7145 18.6299 14.6146Z' fill='white'/%3E%3C/svg%3E%0A");
}
.upload-list {
	background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.5747 9.57999H15.5747V3.57999H9.57471V9.57999H5.57471L12.5747 16.58L19.5747 9.57999ZM5.57471 18.58V20.58H19.5747V18.58H5.57471Z' fill='white'/%3E%3C/svg%3E%0A");
}
.inner-table-wrap.onload .clear-list,
.inner-table-wrap.onload .upload-list {
	filter: grayscale(1);
	opacity: .25;
}
.inner-table-wrap.selected .select-list {
	filter: grayscale(1);
	opacity: .25;
}
.valid-checkmark {
	display: inline-block;
	width: 28px;
	height: 28px;
	background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.3833 2.70889C7.94328 2.70889 2.71661 7.93556 2.71661 14.3756C2.71661 20.8156 7.94328 26.0422 14.3833 26.0422C20.8233 26.0422 26.0499 20.8156 26.0499 14.3756C26.0499 7.93556 20.8233 2.70889 14.3833 2.70889ZM12.0499 20.2089L6.21661 14.3756L7.86161 12.7306L12.0499 16.9072L20.9049 8.05223L22.5499 9.70889L12.0499 20.2089Z' fill='%232684FE'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	vertical-align: middle;
}
.warning-box {
	background: #FFF8E3;
	border: 1px solid #F8CF40;
	border-radius: 10px;
	margin-bottom: 30px;
	padding: 15px 20px;
}
.warning-box:before {
	display: inline-block;
	content: '';
	background-image: url("data:image/svg+xml,%3Csvg width='37' height='37' viewBox='0 0 37 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0399 31.6416C15.0399 33.2916 16.3749 34.6266 18.0249 34.6266C19.6749 34.6266 21.0099 33.2916 21.0099 31.6416H15.0399ZM18.0249 9.12665C22.1649 9.12665 25.5249 12.4866 25.5249 16.6266V27.1266H10.5249V16.6266C10.5249 12.4866 13.8849 9.12665 18.0249 9.12665ZM18.0249 2.37665C16.7799 2.37665 15.7749 3.38165 15.7749 4.62665V6.38165C11.0649 7.40165 7.5249 11.6016 7.5249 16.6266V25.6266L4.5249 28.6266V30.1266H31.5249V28.6266L28.5249 25.6266V16.6266C28.5249 11.6016 24.9849 7.40165 20.2749 6.38165V4.62665C20.2749 3.38165 19.2699 2.37665 18.0249 2.37665ZM16.5249 12.1266H19.5249V18.1266H16.5249V12.1266ZM16.5249 21.1266H19.5249V24.1266H16.5249V21.1266Z' fill='%23FFBF01'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 36px;
	height: 36px;
	margin-right: 10px;
	vertical-align: middle;
}
.error-sign {
	background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2263 2.45996C7.78632 2.45996 2.55965 7.68663 2.55965 14.1266C2.55965 20.5666 7.78632 25.7933 14.2263 25.7933C20.6663 25.7933 25.893 20.5666 25.893 14.1266C25.893 7.68663 20.6663 2.45996 14.2263 2.45996ZM15.393 19.96H13.0597V17.6266H15.393V19.96ZM15.393 15.2933H13.0597V8.29329H15.393V15.2933Z' fill='%23F52B74'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	vertical-align: middle;
	width: 28px;
	height: 28px;
	display: inline-block;
}
.warning-sign {
	background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.54999 25.2666H27.2167L14.3833 3.09994L1.54999 25.2666ZM15.55 21.7666H13.2167V19.4333H15.55V21.7666ZM15.55 17.0999H13.2167V12.4333H15.55V17.0999Z' fill='%23FFBF01'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	vertical-align: middle;
	width: 28px;
	height: 28px;
	display: inline-block;
}
.error-sign span,
.warning-sign span {
	position: absolute;
	background: #FFF8E3;
	border: 1px solid #F8CF40;
	border-radius: 10px;
	transform: translate(-50%, 0);
	margin-top: 35px;
	padding: 5px 10px;
	font-size: 14px;
	display: none;
}
.error-sign span:before,
.warning-sign span:before {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5px 7px 5px;
	border-color: transparent transparent #ffe99e transparent;
	display: block;
	content: '';
	position: absolute;
	top: -6px;
	left: calc(50% - 5px);
}
.error-sign:hover span,
.warning-sign:hover span {
	display: inline-block;
}
.inner-table-wrap.uploaded .select-list {
	filter: grayscale(1);
	opacity: .25;
}
.info-box {
	background: #F7F8FF;
	border: 1px solid #2684FE;
	border-radius: 10px;
	margin-bottom: 30px;
	padding: 15px 20px;
}
.sub-nav {
	border-top: 1px solid #2684FE;
	margin-top: 10px;
	padding: 10px 15px 0;
}
.sub-nav a {
	font-weight: 500;
	font-size: 18px;
	text-decoration: none;
	display: block;
	margin-bottom: 10px;
	background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.96754 5.42276C6.67504 5.71526 6.67504 6.18776 6.96754 6.48026L9.87754 9.39026L6.96754 12.3003C6.67504 12.5928 6.67504 13.0653 6.96754 13.3578C7.26004 13.6503 7.73254 13.6503 8.02504 13.3578L11.4675 9.91526C11.76 9.62276 11.76 9.15026 11.4675 8.85776L8.02504 5.41526C7.74004 5.13026 7.26004 5.13026 6.96754 5.42276Z' fill='white'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 18px;
	padding-left: 30px;
}
.sub-nav a:hover,
.sub-nav a.active {
	text-decoration: underline;
}
.heading-button {
	text-align: left;
	font-weight: 600;
	font-size: 23px;
	color: #151D30;
	margin-bottom: 20px;
}
.heading-button:after {
	display: block;
	content: '';
	clear: both;
}
.heading-button .blue-btn {
	float: right;
}
.blue-btn {
	background: #2684FE;
	border-radius: 10px;
	padding: 14px 22px;
	cursor: pointer;
	color: #fff;
	display: inline-block;
	font-weight: 500;
	font-size: 18px;
}
.blue-btn.plus {
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 13H13V18C13 18.55 12.55 19 12 19C11.45 19 11 18.55 11 18V13H6C5.45 13 5 12.55 5 12C5 11.45 5.45 11 6 11H11V6C11 5.45 11.45 5 12 5C12.55 5 13 5.45 13 6V11H18C18.55 11 19 11.45 19 12C19 12.55 18.55 13 18 13Z' fill='white'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: 18px center;
	background-size: 24px;
	padding-left: 50px;
}
.btn-toggle {
	display: inline-block;
	width: 30px;
	background: #C8D3E2;
	border-radius: 100px;
	height: 15px;
	position: relative;
	transition: background .25s ease-out;
	cursor: pointer;
}
.btn-toggle:after {
	width: 11px;
	height: 11px;
	background: #fff;
	border-radius: 100px;
	position: absolute;
	left: 2px;
	top: 2px;
	z-index: 1;
	display: block;
	content: '';
	transition: left .25s ease-out;
}
.btn-toggle.on {
	background: #2684FE;
}
.btn-toggle.on:after {
	width: 11px;
	height: 11px;
	background: #fff;
	border-radius: 100px;
	position: absolute;
	left: calc(100% - 13px);
}
.check-mark {
	display: inline-block;
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.99991 16.2343L4.82991 12.0643L3.40991 13.4743L8.99991 19.0643L20.9999 7.06427L19.5899 5.65427L8.99991 16.2343Z' fill='%232684FE'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 24px;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin: 0 5px;
}
.error-mark {
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.3 6.00627C17.91 5.61627 17.28 5.61627 16.89 6.00627L12 10.8863L7.10997 5.99627C6.71997 5.60627 6.08997 5.60627 5.69997 5.99627C5.30997 6.38627 5.30997 7.01627 5.69997 7.40627L10.59 12.2963L5.69997 17.1863C5.30997 17.5763 5.30997 18.2063 5.69997 18.5963C6.08997 18.9863 6.71997 18.9863 7.10997 18.5963L12 13.7063L16.89 18.5963C17.28 18.9863 17.91 18.9863 18.3 18.5963C18.69 18.2063 18.69 17.5763 18.3 17.1863L13.41 12.2963L18.3 7.40627C18.68 7.02627 18.68 6.38627 18.3 6.00627Z' fill='%23F52B74'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 24px;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	display: inline-block;
	margin: 0 5px;
}
.icon-edit,
.icon-delete {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 24px;
	background-color: #EEF3FB;
	width: 42px;
	height: 42px;
	vertical-align: middle;
	margin: 0 5px;
	text-decoration: none;
	border-radius: 100px;
	text-indent: -9999px;
	transition: all .25s ease-out;
}
.icon-edit:hover,
.icon-delete:hover {
	background-color: #2684FE;
}
.icon-edit {
	background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.375 17.523V20.563C3.375 20.843 3.595 21.063 3.875 21.063H6.915C7.045 21.063 7.175 21.013 7.265 20.913L18.185 10.003L14.435 6.25302L3.525 17.163C3.425 17.263 3.375 17.383 3.375 17.523ZM21.085 7.10302C21.475 6.71302 21.475 6.08302 21.085 5.69302L18.745 3.35302C18.355 2.96302 17.725 2.96302 17.335 3.35302L15.505 5.18302L19.255 8.93302L21.085 7.10302Z' fill='%232684FE'/%3E%3C/svg%3E%0A");
}
.icon-edit:hover {
	background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.375 17.523V20.563C3.375 20.843 3.595 21.063 3.875 21.063H6.915C7.045 21.063 7.175 21.013 7.265 20.913L18.185 10.003L14.435 6.25302L3.525 17.163C3.425 17.263 3.375 17.383 3.375 17.523ZM21.085 7.10302C21.475 6.71302 21.475 6.08302 21.085 5.69302L18.745 3.35302C18.355 2.96302 17.725 2.96302 17.335 3.35302L15.505 5.18302L19.255 8.93302L21.085 7.10302Z' fill='%23EEF3FB'/%3E%3C/svg%3E%0A");
}
.icon-delete {
	background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.30566 19.6162C6.30566 20.7162 7.20566 21.6162 8.30566 21.6162H16.3057C17.4057 21.6162 18.3057 20.7162 18.3057 19.6162V7.61621H6.30566V19.6162ZM9.47566 13.2062C9.08566 12.8162 9.08566 12.1862 9.47566 11.7962C9.86566 11.4062 10.4957 11.4062 10.8857 11.7962L12.3057 13.2062L13.7157 11.7962C14.1057 11.4062 14.7357 11.4062 15.1257 11.7962C15.5157 12.1862 15.5157 12.8162 15.1257 13.2062L13.7157 14.6162L15.1257 16.0262C15.5157 16.4162 15.5157 17.0462 15.1257 17.4362C14.7357 17.8262 14.1057 17.8262 13.7157 17.4362L12.3057 16.0262L10.8957 17.4362C10.5057 17.8262 9.87566 17.8262 9.48566 17.4362C9.09566 17.0462 9.09566 16.4162 9.48566 16.0262L10.8957 14.6162L9.47566 13.2062ZM18.3057 4.61621H15.8057L15.0957 3.90621C14.9157 3.72621 14.6557 3.61621 14.3957 3.61621H10.2157C9.95566 3.61621 9.69566 3.72621 9.51566 3.90621L8.80566 4.61621H6.30566C5.75566 4.61621 5.30566 5.06621 5.30566 5.61621C5.30566 6.16621 5.75566 6.61621 6.30566 6.61621H18.3057C18.8557 6.61621 19.3057 6.16621 19.3057 5.61621C19.3057 5.06621 18.8557 4.61621 18.3057 4.61621Z' fill='%232684FE'/%3E%3C/svg%3E%0A");
}
.icon-delete:hover {
	background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.30566 19.6162C6.30566 20.7162 7.20566 21.6162 8.30566 21.6162H16.3057C17.4057 21.6162 18.3057 20.7162 18.3057 19.6162V7.61621H6.30566V19.6162ZM9.47566 13.2062C9.08566 12.8162 9.08566 12.1862 9.47566 11.7962C9.86566 11.4062 10.4957 11.4062 10.8857 11.7962L12.3057 13.2062L13.7157 11.7962C14.1057 11.4062 14.7357 11.4062 15.1257 11.7962C15.5157 12.1862 15.5157 12.8162 15.1257 13.2062L13.7157 14.6162L15.1257 16.0262C15.5157 16.4162 15.5157 17.0462 15.1257 17.4362C14.7357 17.8262 14.1057 17.8262 13.7157 17.4362L12.3057 16.0262L10.8957 17.4362C10.5057 17.8262 9.87566 17.8262 9.48566 17.4362C9.09566 17.0462 9.09566 16.4162 9.48566 16.0262L10.8957 14.6162L9.47566 13.2062ZM18.3057 4.61621H15.8057L15.0957 3.90621C14.9157 3.72621 14.6557 3.61621 14.3957 3.61621H10.2157C9.95566 3.61621 9.69566 3.72621 9.51566 3.90621L8.80566 4.61621H6.30566C5.75566 4.61621 5.30566 5.06621 5.30566 5.61621C5.30566 6.16621 5.75566 6.61621 6.30566 6.61621H18.3057C18.8557 6.61621 19.3057 6.16621 19.3057 5.61621C19.3057 5.06621 18.8557 4.61621 18.3057 4.61621Z' fill='%23EEF3FB'/%3E%3C/svg%3E%0A");
}
.border-wrap {
	border: 1px solid #C8D3E2;
	border-radius: 10px;
	padding: 40px;
}
.cancel {
	font-size: 18px;
	color: #2684FE;
	text-decoration: none;
}
.fields-table input {
	border: 1px solid #C8D3E2;
	border-radius: 10px;
	padding: 15px;
	font-size: 18px;
	color: #151D30;
	outline: none;
	width: 100%;
	max-width: 600px;
}
.fields-table td {
	padding: 0 30px 30px 0;
	vertical-align: top;
}
.fields-table .field {
	padding-right: 0;
	width: 900px;
	max-width: 100%;
}
.fields-table textarea {
	border: 1px solid #C8D3E2;
	border-radius: 10px;
	padding: 15px;
	font-size: 18px;
	color: #151D30;
	outline: none;
	width: 100%;
	max-width: 900px;
	height: 160px;
	resize: none;
	font-family: 'Poppins', sans-serif;
}
.profile-picture {
	background-color: #EEF3FB;
	background-image: url("data:image/svg+xml,%3Csvg width='55' height='55' viewBox='0 0 55 55' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.5 27.5C32.5646 27.5 36.6667 23.3979 36.6667 18.3333C36.6667 13.2688 32.5646 9.16667 27.5 9.16667C22.4354 9.16667 18.3333 13.2688 18.3333 18.3333C18.3333 23.3979 22.4354 27.5 27.5 27.5ZM27.5 32.0833C21.3812 32.0833 9.16666 35.1542 9.16666 41.25V43.5417C9.16666 44.8021 10.1979 45.8333 11.4583 45.8333H43.5417C44.8021 45.8333 45.8333 44.8021 45.8333 43.5417V41.25C45.8333 35.1542 33.6187 32.0833 27.5 32.0833Z' fill='%232684FE'/%3E%3C/svg%3E%0A");
	background-size: 55px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 10px;
	width: 220px;
	height: 220px;
	margin-bottom: 20px;
}
.fields-table select {
	border: 1px solid #C8D3E2;
	border-radius: 10px;
	padding: 15px;
	font-size: 18px;
	color: #151D30;
	outline: none;
	width: 100%;
	max-width: 600px;
	background-image: url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.72918 6.66316L0.487899 2.30298C-0.128663 1.66913 0.320454 0.605713 1.20471 0.605713H9.64762C10.5296 0.605713 10.9797 1.66449 10.3677 2.29961L6.16607 6.65979C5.77406 7.0666 5.12311 7.06813 4.72918 6.66316Z' fill='%23151D30'/%3E%3C/svg%3E%0A");
	background-size: 13px 7px;
	background-repeat: no-repeat;
	background-position: calc(100% - 15px) center;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.checkbox-container {
	display: block;
	position: relative;
	padding-left: 32px;
	margin-bottom: 10px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.checkbox-container .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.8491 5.66296V19.663H5.84912V5.66296H19.8491ZM19.8491 3.66296H5.84912C4.74912 3.66296 3.84912 4.56296 3.84912 5.66296V19.663C3.84912 20.763 4.74912 21.663 5.84912 21.663H19.8491C20.9491 21.663 21.8491 20.763 21.8491 19.663V5.66296C21.8491 4.56296 20.9491 3.66296 19.8491 3.66296Z' fill='%23C8D3E2'/%3E%3C/svg%3E");
	width: 24px;
	height: 24px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.checkbox-container input:checked ~ .checkmark {
	background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.8491 3.65771H5.84912C4.74912 3.65771 3.84912 4.55771 3.84912 5.65771V19.6577C3.84912 20.7577 4.74912 21.6577 5.84912 21.6577H19.8491C20.9491 21.6577 21.8491 20.7577 21.8491 19.6577V5.65771C21.8491 4.55771 20.9491 3.65771 19.8491 3.65771ZM19.8491 19.6577H5.84912V5.65771H19.8491V19.6577ZM18.8391 9.65771L17.4291 8.23771L10.8391 14.8277L8.25912 12.2577L6.83912 13.6677L10.8391 17.6577L18.8391 9.65771Z' fill='%232684FE'/%3E%3C/svg%3E");
}
.blue {
	color: var(--blue);
}
.company-picture {
	background-color: #EEF3FB;
	background-image: url("data:image/svg+xml,%3Csvg width='47' height='48' viewBox='0 0 47 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M18.8362 19.4253C18.9636 19.2887 19.1175 19.1801 19.2882 19.1065C19.459 19.0329 19.6429 18.9958 19.8284 18.9975C20.014 18.9992 20.1972 19.0397 20.3666 19.1165C20.536 19.1932 20.6879 19.3045 20.8128 19.4435L28.1575 27.6232L30.692 24.886C30.8169 24.7512 30.9675 24.6434 31.1348 24.5693C31.302 24.4952 31.4824 24.4562 31.665 24.4548H31.6758C31.8565 24.4548 32.0354 24.4916 32.2018 24.5631C32.3681 24.6345 32.5186 24.739 32.6443 24.8705L46.022 38.8794C46.3375 38.2098 46.5008 37.4772 46.5 36.7353V11.2646C46.4986 9.93817 45.9775 8.66643 45.0511 7.72847C44.1247 6.7905 42.8687 6.26292 41.5586 6.26147H5.44141C4.13131 6.26292 2.87527 6.7905 1.94888 7.72847C1.0225 8.66643 0.501429 9.93817 0.500003 11.2646V36.7353C0.49932 37.4048 0.631936 38.0675 0.889925 38.6839L18.8362 19.4253ZM35.7188 11.7195C36.7849 11.7195 37.8271 12.0396 38.7136 12.6393C39.6001 13.2391 40.291 14.0915 40.699 15.0888C41.1071 16.0861 41.2138 17.1835 41.0058 18.2423C40.7978 19.301 40.2844 20.2736 39.5305 21.0369C38.7766 21.8002 37.8161 22.32 36.7704 22.5306C35.7247 22.7412 34.6409 22.6331 33.6559 22.22C32.6708 21.8069 31.8289 21.1074 31.2366 20.2098C30.6443 19.3122 30.3281 18.257 30.3281 17.1775C30.3298 15.7305 30.8983 14.3432 31.9088 13.32C32.9194 12.2967 34.2896 11.7212 35.7188 11.7195Z' fill='%232684FE'/%3E%3Cpath d='M35.7188 19.9065C37.2073 19.9065 38.4141 18.6847 38.4141 17.1775C38.4141 15.6703 37.2073 14.4485 35.7188 14.4485C34.2302 14.4485 33.0234 15.6703 33.0234 17.1775C33.0234 18.6847 34.2302 19.9065 35.7188 19.9065Z' fill='%232684FE'/%3E%3Cpath d='M31.6911 27.7979L24.7444 35.3008C24.496 35.5475 24.1631 35.6874 23.8153 35.6912C23.4674 35.695 23.1316 35.5625 22.878 35.3214C22.6244 35.0803 22.4728 34.7492 22.4547 34.3975C22.4367 34.0457 22.5537 33.7006 22.7813 33.4342L26.3121 29.6208L19.7985 22.369L2.60057 40.8289C3.43158 41.4228 4.42427 41.7406 5.44143 41.7385H41.5586C42.5088 41.7392 43.4389 41.4608 44.236 40.9371L31.6911 27.7979Z' fill='%232684FE'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='46' height='46.575' fill='white' transform='translate(0.5 0.712494)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	background-size: 55px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 10px;
	width: 220px;
	height: 220px;
	margin-bottom: 20px;
}
.fields-table input.inline-field,
.inline-field {
	display: inline-block;
	vertical-align: middle;
	width: 80px;
	max-width: 90px;
	margin: 0 10px;
}
.row-links {
	display: flex;
	flex-wrap: nowrap;
}
.row-links > div {
	flex: 0 0 270px;
	max-width: 270px;
	padding-right: 30px;
}
.row-links ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.row-links a {
	color: #2684FE;
	text-decoration: underline;
	display: inline-block;
	min-height: 24px;
	padding-left: 34px;
}
.row-links a:hover {
	text-decoration: none;
}
.row-links span {
	display: inline-block;
	padding-left: 34px;
}
.left-arrow {
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 4.38086L10.59 5.79086L16.17 11.3809H4V13.3809H16.17L10.59 18.9709L12 20.3809L20 12.3809L12 4.38086Z' fill='%23151D30'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: 24px;
	background-position: left center;
}
.row-integrations {
	display: flex;
	flex-wrap: nowrap;
}
.row-integrations > div {
	flex: 0 0 50%;
	max-width: 50%;
}
.row-integrations > :first-child {
	padding-right: 15px;
}
.row-integrations > :last-child {
	padding-left: 15px;
}
.preview-integration {
	background-image: url('../img/browser-bar.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center top;
	padding: 70px 30px 30px;
	height: 280px;
	border: 1px solid #C8D3E2;
	box-sizing: border-box;
	border-radius: 10px;
	text-align: center;
	margin-bottom: 30px;
}
.preview-integration img {
	height: 100%;
	width: auto;
}
.row-integrations textarea {
	height: 280px;
	border: 1px solid #C8D3E2;
	border-radius: 10px;
	padding: 15px;
	font-size: 18px;
	color: #151D30;
	outline: none;
	width: 100%;
	resize: none;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 30px;
}
.radio-container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.radio-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
.radio-container .checkmark {
	position: absolute;
	top: 3px;
	left: 0;
	height: 24px;
	width: 24px;
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.58 20 4 16.42 4 12C4 7.58 7.58 4 12 4C16.42 4 20 7.58 20 12C20 16.42 16.42 20 12 20Z' fill='%23C8D3E2'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: 24px;
	background-position: center;
}
.radio-container input:checked ~ .checkmark {
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2.37396C6.48 2.37396 2 6.85396 2 12.374C2 17.894 6.48 22.374 12 22.374C17.52 22.374 22 17.894 22 12.374C22 6.85396 17.52 2.37396 12 2.37396ZM12 20.374C7.58 20.374 4 16.794 4 12.374C4 7.95396 7.58 4.37396 12 4.37396C16.42 4.37396 20 7.95396 20 12.374C20 16.794 16.42 20.374 12 20.374Z' fill='%232684FE'/%3E%3Cpath d='M12 17.374C14.7614 17.374 17 15.1354 17 12.374C17 9.61254 14.7614 7.37396 12 7.37396C9.23858 7.37396 7 9.61254 7 12.374C7 15.1354 9.23858 17.374 12 17.374Z' fill='%232684FE'/%3E%3C/svg%3E%0A");
}
.row-integrations .inline-field {
	border: 1px solid #C8D3E2;
	border-radius: 10px;
	padding: 15px;
	font-size: 18px;
	color: #151D30;
	outline: none;
	width: 100%;
	max-width: 400px;
}
.reviews-ids {
	list-style: none;
	margin: 30px 0 0;
	padding: 0;
}
.reviews-ids li {
	margin-bottom: 10px;
	display: inline-block;
	margin-right: 30px;
}
.reviews-ids span {
	display: inline-block;
	vertical-align: middle;
	width: 28px;
	height: 28px;
	margin-left: 5px;
	background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.8904 2.4706C8.43871 2.4706 3.22371 7.6856 3.22371 14.1373C3.22371 20.5889 8.43871 25.8039 14.8904 25.8039C21.342 25.8039 26.557 20.5889 26.557 14.1373C26.557 7.6856 21.342 2.4706 14.8904 2.4706ZM19.907 19.1539C19.452 19.6089 18.717 19.6089 18.262 19.1539L14.8904 15.7823L11.5187 19.1539C11.0637 19.6089 10.3287 19.6089 9.87371 19.1539C9.41871 18.6989 9.41871 17.9639 9.87371 17.5089L13.2454 14.1373L9.87371 10.7656C9.41871 10.3106 9.41871 9.5756 9.87371 9.1206C10.3287 8.6656 11.0637 8.6656 11.5187 9.1206L14.8904 12.4923L18.262 9.1206C18.717 8.6656 19.452 8.6656 19.907 9.1206C20.362 9.5756 20.362 10.3106 19.907 10.7656L16.5354 14.1373L19.907 17.5089C20.3504 17.9523 20.3504 18.6989 19.907 19.1539Z' fill='%23F52B74'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	cursor: pointer;
}
.inner-table-wrap.drag-drop tr {
	cursor: pointer;
}
.inner-table-wrap.drag-drop .drag {
	width: 18px;
	display: block;
}
.inner-table-wrap.drag-drop .drag:before {
	background-image: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.30612 0.457716L15.9772 7.3158C16.5938 7.94964 16.1446 9.01306 15.2604 9.01306L1.98062 9.01306C1.09861 9.01306 0.64852 7.95428 1.26054 7.31917L7.86923 0.46109C8.26125 0.0542776 8.91219 0.0527489 9.30612 0.457716Z' fill='%23C8D3E2'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 100%;
	height: 10px;
	display: block;
	content: '';
	margin-bottom: 10px;
}
.inner-table-wrap.drag-drop .drag:after {
	background-image: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.95035 9.12608L1.27928 2.26801C0.662719 1.63416 1.11184 0.57074 1.99609 0.57074L15.2759 0.57074C16.1579 0.57074 16.608 1.62952 15.9959 2.26463L9.38724 9.12271C8.99522 9.52952 8.34428 9.53105 7.95035 9.12608Z' fill='%23C8D3E2'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 100%;
	height: 10px;
	display: block;
	content: '';
}
.inner-table-wrap.drag-drop tbody > :first-child .drag:before,
.inner-table-wrap.drag-drop tbody > :last-child .drag:after {
	display: none;
}
.questions-type {
	font-weight: 500;
	margin-bottom: 40px;
}
.questions-type select {
	border: 1px solid #C8D3E2;
	border-radius: 10px;
	padding: 15px;
	font-size: 18px;
	color: #151D30;
	outline: none;
	width: 100%;
	max-width: 300px;
	background-image: url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.72918 6.66316L0.487899 2.30298C-0.128663 1.66913 0.320454 0.605713 1.20471 0.605713H9.64762C10.5296 0.605713 10.9797 1.66449 10.3677 2.29961L6.16607 6.65979C5.77406 7.0666 5.12311 7.06813 4.72918 6.66316Z' fill='%23151D30'/%3E%3C/svg%3E%0A");
	background-size: 13px 7px;
	background-repeat: no-repeat;
	background-position: calc(100% - 15px) center;
	-webkit-appearance: none;
	-moz-appearance: none;
	margin-left: 50px;
}
.questions-heading {
	padding: 10px 25px;
}
.questions-limit {
	width: 100px;
}
.inner-table-wrap.no-first-border tbody > :first-child td {
	border-top: 0;
}












